/* PHASE 1: Header */

body {
    font-weight: 00;
    font-family: Roboto, sans-serif;
    font-size: medium;
    text-decoration: none;
    
}

.header {
    display: flexbox;
    width: 100%;
    background-color: red;
    /* padding: 1%; */
    float: left;
    align-items: baseline;
}

.header-nav {
    width: auto;
    margin-left: 2%;
    /* padding: 1%; */
}


.header-buttons {
    /* float: right; */
    justify-content: right;
    display: flex;
    position: relative;
    bottom: 60px;
    right: 80px;
}



.header-buttons > li {
    float: left;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 2%;
    padding: 1%;
}


.header-logo {
    max-width: 17%;
}

a {
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10%;
}

a:hover {
    background-color: darkred;
    transition: 1s;
    transition-timing-function: ease-in-out;

}

.header-logo, .header-buttons > li {
    background-color: transparent;
    
    border-left: 2px solid white;
    border-right: 2px solid white;
}
